.container {
	padding: 0;
	margin: 0;
	list-style:none;
}

ul#topnavEvo {
	margin: 0;
	font-weight : normal;
	list-style:none;
	list-style-type:none;
	padding: 0;
	float: left;
	width: 100%;
	list-style: none;
	/*border-left: 0 solid #000;
	border-right: 2px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;*/
}

ul#topnavEvo li {
	float: left;
	margin: 0; padding: 0;
	position: relative;
	list-style:none;
}

ul#topnavEvo li a {
	float: left; 
	text-decoration: none;
	text-align: center;
	list-style:none;
}

ul#topnavEvo a.buttons {
	width: auto; 
	/*padding-left : 10px;
	padding-right : 10px;
	border-right : 1px solid #454545;
	border-left : 1px solid #454545;*/
	list-style:none;
	list-style-type: none;
}

ul#topnavEvo li .sub {
	position: absolute;
	padding: 0 1px 1px 1px;
	float: left;
	-moz-border-radius-bottomright: 1px;
	-khtml-border-radius-bottomright: 1px;
	-webkit-border-bottom-right-radius: 1px;
	-moz-border-radius-bottomleft: 1px;
	-khtml-border-radius-bottomleft: 1px;
	-webkit-border-bottom-left-radius: 1px;
	display: none;
	z-index: 10000;
	list-style:none;
	list-style-type: none;
	/*border: 1px solid #353535;*/
}

/* espace après chaque catégorie */
ul#topnavEvo li .row {
	clear: both; 
	float: left; 
	width: 100%;
	padding: 0;
}

ul#topnavEvo li:hover a, ul#topnav li a:hover { 
	color: #ffffff;
	margin-top: 0;
}

ul#topnavEvo li .sub {
	left: 0;
}

ul#topnavEvo li .sub ul{
	margin: 0; 
	padding: 0;
	float: left;
	list-style:none;
	list-style-type: none;
}

ul#topnavEvo .sub ul li {
	width: 100%;
	color: #fff;
	list-style:none;
}

/* catégories */
ul#topnavEvo .sub ul li.stitle {
	font-weight: normal;
	background: none;
	list-style:none;  
	margin: 0 5px 0 0;
	border: 0px;
	padding: 0;
}

ul#topnavEvo .sub ul li.stitle a {
	text-align: left;
	background-image: none;
	list-style:none;
	font-weight : normal;
	padding-right: 5px;
	padding-left: 0px;
	width : 80%;
}

/* sous catégories */

ul#topnavEvo .sub ul li a {
	margin-left: 0;
	text-align: left;
	float: left; 
	text-indent: 0;
	height: auto;
	display: block;
	text-decoration: none;
	align: left;
	font-weight: normal;
	list-style:none;
	margin-top: 0;
	padding-top: 0;
	margin: 0;
	padding-right: 5px;
	padding-left: 5px;
}

/* pour mettre en surbrillance lors du survol */
ul#topnavEvo .sub ul li a:hover {

}	

.megaDrownTR1 {
	
}
.megaDrownTable {
	height : 150px;
	border:0;
}
.megaDrownTD1 {

}
.megaDrownTD2 {

}
.megaDrownTD3 {

}

